<div style="padding:.3em" class="{{view?.toLowerCase()}}-view">
  <div class="card day pointer" [ngClass]="{'valid-month': validMonth(day?.isThisMonth), 'is-selected': isSelected, 'cream-fill': isToday(day.date)}"  (click)="selectDate(day?.date)">
    <div class="card-header snow" style="padding: 0;" [ngClass]="{'coal-fill': !isSelected, 'red-fill': isSelected}">
      <div class="dayNumber text-center">{{day?.date | dateFormat: 'dddd'}} | {{day?.dayOfMonth}}</div>
    </div>
    <div class="card-body" style="padding: 0;">
      <!-- <div class="pointer meal" *ngFor="let meal of meals | mealSort" [ngClass]=" -->
      <div *ngFor="let mealType of listOfMealTypes">
        <mat-card *ngIf="listOfMeals[mealType].length > 0" [ngClass]="{'p-0': view !== 'Day', 'px-1 pb-1': view === 'Day'}">
          <mat-card-title class="px-1 pb-1" *ngIf="view === 'Day'">{{mealType}}
            <button mat-icon-button  class="float-right" [matMenuTriggerFor]="mealMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #mealMenu="matMenu">
              <button mat-menu-item [matMenuTriggerFor]="moveMeals">
                <mat-icon>edit</mat-icon>
                <span>Move</span>
              </button>
              <button mat-menu-item [matMenuTriggerFor]="dupMeals">
                <mat-icon>add</mat-icon>
                <span>duplicate</span>
              </button>
              <button mat-menu-item (click)="removeMeals(listOfMeals[mealType])">
                <mat-icon>delete</mat-icon>
                <span>Remove</span>
              </button>
            </mat-menu>
            <mat-menu #moveMeals="matMenu">
              <button mat-menu-item (click)="moveMealsToBreakfast(listOfMeals[mealType])" *ngIf="mealType !== 'Breakfast'">Breakfast</button>
              <button mat-menu-item (click)="moveMealsToLunch(listOfMeals[mealType])" *ngIf="mealType !== 'Lunch'">Lunch</button>
              <button mat-menu-item (click)="moveMealsToDinner(listOfMeals[mealType])" *ngIf="mealType !== 'Dinner'">Dinner</button>
              <button mat-menu-item (click)="moveMealsToSnack(listOfMeals[mealType])" *ngIf="mealType !== 'Snack'">Snack</button>
              <button mat-menu-item (click)="moveMealsToTeatime(listOfMeals[mealType])" *ngIf="mealType !== 'Teatime'">Teatime</button>
            </mat-menu>
            <mat-menu #dupMeals="matMenu">
              <button mat-menu-item (click)="duplicateMealPicker.open()">
                <mat-icon>calendar_today</mat-icon>
                Select Date
              </button>
              <input matInput [ngModel]="datepicker" [matDatepicker]="duplicateMealPicker" (dateChange)="duplicateMeals(listOfMeals[mealType], $event)" hidden>
              <mat-datepicker touchUi #duplicateMealPicker></mat-datepicker>
            </mat-menu>
          </mat-card-title>
          <div class="pointer meal" *ngFor="let meal of listOfMeals[mealType];let i=index" [ngClass]="
            {'breakfast tiger-fill': isBreakFast(meal),
            'lunch seafoam-fill': isLunch(meal),
            'dinner lavender-fill': isDinner(meal),
            'snack mint-fill': isSnack(meal),
            'teatime tea-fill': isTeatime(meal)
            }" (click)="selectMeal(meal)" [matTooltip]="getMealDisplay(meal)">
            <div class="row">
              <div class="col-12">
                <div class="meal-text text-truncate">{{getMealDisplay(meal)}}</div>
                <!-- tooltips getting stuck on page -->
                <!-- <div class="meal-text" data-toggle="tooltip" data-placement="bottom" [title]="meal.eatenAmount + ' ' + meal.measure.label + ' ' + meal.label">{{getMealDisplay(meal)}}</div> -->
              </div>
            </div>
            <div class="row" *ngIf="view === 'Day'">
              <div class="col-sm-12 col-md-1">
                <div class="mx-1">
                  <img [src]="getFood(meal)?.food?.image" class="img-thump" style="width: 100%; height: auto;"/>
                </div>
              </div>
              <div class="col-sm-12 col-md-1 text-center">
                <div>Calories</div>
                <div>{{getNutrients(meal)?.totalNutrients?.ENERC_KCAL.quantity | number:1.0-1}} {{getNutrients(meal)?.totalNutrients?.ENERC_KCAL.unit}}</div>
              </div>
              <div class="col-sm-12 col-md-1 text-center">
                <div>{{getNutrients(meal)?.totalNutrients?.CHOCDF?.label}}</div> 
                <div>{{getNutrients(meal)?.totalNutrients?.CHOCDF?.quantity | number:1.0-1}} {{getNutrients(meal)?.CHOCDF?.unit}}</div>
              </div>
              <div class="col-sm-12 col-md-1 text-center">
                <div>{{getNutrients(meal)?.totalNutrients?.FAT?.label}}</div>
                <div>{{getNutrients(meal)?.totalNutrients?.FAT?.quantity | number:1.0-1}} {{getNutrients(meal)?.FAT?.unit}}</div>
              </div>
              <div class="col-sm-12 col-md-1 text-center">
                <div>{{getNutrients(meal)?.totalNutrients?.PROCNT?.label}}</div>
                <div>{{getNutrients(meal)?.totalNutrients?.PROCNT?.quantity | number:1.0-1}} {{getNutrients(meal)?.PROCNT?.unit}}</div>
              </div>
              <div class="col-sm-12 col-md-4 nutrient-labels">
                <mat-expansion-panel *ngIf="getNutrients(meal)?.healthLabels?.length > 0">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Health Labels
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <mat-chip-list aria-label="Health Labels">
                    <mat-chip selected color="accent" *ngFor="let healthLabel of getNutrients(meal)?.healthLabels">{{getChip(healthLabel, 'healthLabel')}}</mat-chip>
                  </mat-chip-list>
                </mat-expansion-panel>
                <mat-expansion-panel *ngIf="getNutrients(meal)?.dietLabels?.length > 0">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Diet Labels
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <mat-chip-list aria-label="Diet Labels">
                    <mat-chip selected color="primary" *ngFor="let dietLabel of getNutrients(meal)?.dietLabels">{{getChip(dietLabel, 'dietLabel')}}</mat-chip>
                  </mat-chip-list>
                </mat-expansion-panel>
                <mat-expansion-panel *ngIf="getNutrients(meal)?.cautions?.length > 0">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Cautions
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <mat-chip-list aria-label="Cautions">
                    <mat-chip selected color="warn" *ngFor="let cautionLabel of getNutrients(meal)?.cautions">{{getChip(cautionLabel, 'dietLabel')}}</mat-chip>
                  </mat-chip-list>
                </mat-expansion-panel>
              </div>
              <div class="col-sm-12 col-md-2">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
                  <span>Actions</span>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="search(meal)">
                    <mat-icon>search</mat-icon>
                    <span>View Food</span>
                  </button>
                <button mat-menu-item (click)="toggleModifyMeal(meal)">
                  <mat-icon>edit</mat-icon>
                  <span>Modify</span>
                </button>
                  <button mat-menu-item [matMenuTriggerFor]="moveFood">
                    <mat-icon>edit</mat-icon>
                    <span>Move</span>
                  </button>
                  <button mat-menu-item [matMenuTriggerFor]="duplicateFood">
                    <mat-icon>add</mat-icon>
                    <span>duplicate</span>
                  </button>
                  <button mat-menu-item (click)="remove(meal)">
                    <mat-icon>delete</mat-icon>
                    <span>Remove</span>
                  </button>
                </mat-menu>
                <mat-menu #moveFood="matMenu">
                  <button mat-menu-item (click)="moveToBreakfast(meal)" *ngIf="meal?.type !== 'Breakfast'">Breakfast</button>
                  <button mat-menu-item (click)="moveToLunch(meal)" *ngIf="meal?.type !== 'Lunch'">Lunch</button>
                  <button mat-menu-item (click)="moveToDinner(meal)" *ngIf="meal?.type !== 'Dinner'">Dinner</button>
                  <button mat-menu-item (click)="moveToSnack(meal)" *ngIf="meal?.type !== 'Snack'">Snack</button>
                  <button mat-menu-item (click)="moveToTeatime(meal)" *ngIf="meal?.type !== 'Teatime'">Teatime</button>
                </mat-menu>
                <mat-menu #duplicateFood="matMenu">
                  <button mat-menu-item (click)="breakfastPicker.open()">
                    <mat-icon>calendar_today</mat-icon>
                    Breakfast
                  </button>
                  <input matInput [ngModel]="breakfastDatepicker" [matDatepicker]="breakfastPicker" (dateChange)="duplicate(meal, 'Breakfast', $event)" hidden>
                  <mat-datepicker touchUi #breakfastPicker></mat-datepicker>
                  <button mat-menu-item (click)="lunchPicker.open()">
                    <mat-icon>calendar_today</mat-icon>
                    Lunch
                  </button>
                  <input matInput [ngModel]="lunchDatepicker" [matDatepicker]="lunchPicker" (dateChange)="duplicate(meal, 'Lunch', $event)" hidden>
                  <mat-datepicker touchUi #lunchPicker></mat-datepicker>
                  <button mat-menu-item (click)="dinnerPicker.open()">
                    <mat-icon>calendar_today</mat-icon>
                    Dinner
                  </button>
                  <input matInput [ngModel]="dinnerDatepicker" [matDatepicker]="dinnerPicker" (dateChange)="duplicate(meal, 'Dinner', $event)" hidden>
                  <mat-datepicker touchUi #dinnerPicker></mat-datepicker>
                  <button mat-menu-item (click)="snackPicker.open()">
                    <mat-icon>calendar_today</mat-icon>
                    Snack
                  </button>
                  <input matInput [ngModel]="snackDatepicker" [matDatepicker]="snackPicker" (dateChange)="duplicate(meal, 'SNACK', $event)" hidden>
                  <mat-datepicker touchUi #snackPicker></mat-datepicker>
                  <button mat-menu-item (click)="teatimePicker.open()">
                    <mat-icon>calendar_today</mat-icon>
                    Teatime
                  </button>
                  <input matInput [ngModel]="teatimeDatepicker" [matDatepicker]="teatimePicker" (dateChange)="duplicate(meal, 'Teatime', $event)" hidden>
                  <mat-datepicker touchUi #teatimePicker></mat-datepicker>
                </mat-menu>
              </div>
            </div>
            <hr class="my-1" *ngIf="meals?.length - 1 !== index"/>
          </div>
        </mat-card>
      </div>
      <div *ngIf="!meals || meals.length < 1">
        <p class="mt-2 mb-2 text-muted text-center">No Meals to Display!</p>
      </div>
    </div>
  </div>
</div>
