<div>
  <mat-dialog-content class="mat-typography">
    <food-nutrients *ngIf="!loading"
      [food]='food' 
      [nutrients]='nutrients' 
      [quantity]='quantity' 
      [measurement]='measurement' 
      [calendarViewOpen]="calendarViewOpen"
      mode="update"
      (updateNutritionInfo)="updateNutritionInfo($event)" 
    ></food-nutrients>
    <mat-spinner *ngIf="loading"></mat-spinner>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="result" [disabled]="loading">Save</button>
  </mat-dialog-actions>
</div>

