<div class="row">
    <h1>Food Creation</h1>
    <button type="button" class="btn btn-primary option col-4 mr-2 offset-2" (click)="startNewFood()">Create Food</button>
    <button type="button" class="btn btn-primary option col-4 ml-2" (click)="startNewRecipe()">Create Recipe</button>
</div>
<p>Above, select an option on what type of food you would like to create.</p>