<!-- <div class="card meal-editor">
  <div class="card-body">
    <div class="card mb-1 meal-food-item-header" *ngIf="hasFoods()">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <label class="control-label required">Serving: </label>
          </div>
          <div class="col">
            <div class="row">
              <div class="col">
                <label class="control-label">Carbs: </label>
              </div>
              <div class="col">
                <label class="control-label">Fats: </label>
              </div>
              <div class="col">
                <label class="control-label">Protein: </label>
              </div>
              <div class="col">
                <label class="control-label">Calories: </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div  *ngIf="hasFoods()">
      <div class="row" *ngFor="let meal of meals">
        <div class="col" *ngIf="meal?.foods">
          <div class="row" style="padding: 3px 20px;">
            <div class="col-3">
              <span class="rounded-circle coal toggle-foods pointer" data-toggle="collapse" [attr.data-target]="'#'+getMealCollapseId(meal)" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-lg fa-fw fa-chevron-circle-down"></i></span>
              {{meal.name}}
            </div>
            <div class="col">
              <div class="row">
                <div class="col">
                  {{(getMealCarbs(meal) | number:'1.0-2') + 'g'}}
                </div>
                <div class="col">
                  {{(getMealFats(meal) | number:'1.0-2') + 'g'}}
                </div>
                <div class="col">
                  {{(getMealProtein(meal) | number:'1.0-2') + 'g'}}
                </div>
                <div class="col">
                  {{(getMealCalories(meal) | number:'1.0-2') + 'kcals'}}
                </div>
              </div>
            </div>
          </div>
          <div [id]="getMealCollapseId(meal)" class="row collapse">
            <div class="col">
              <meal-food-item *ngFor="let mealFood of meal.foods" [food]="mealFood" (foodUpdate)="updateFood($event)" (remove)="removeFood($event)"></meal-food-item>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row empty-meal-display-text" *ngIf="!hasFoods()">
      <div class="col-6 offset-3 text-center">
        <p class="text-muted">This meal currently has no ingredients to display.</p>
      </div>
    </div>
    <div class="row meal-editor-submit-container mt-1">
      <div class="col-12 text-center">
        <button type="button" class="btn btn-primary mr-1" (click)="searchPreviousMeals()">Search Previous Meals</button>
        <button type="button" class="btn btn-primary mr-1" (click)="createNewMeal()">Add New Meal</button>
        <button type="button" class="btn btn-default mr-1" (click)="reset()" *ngIf="hasFoods()">Reset</button>
        <button type="button" class="btn btn-primary" *ngIf="hasFoods()" (click)="save()">Update</button>
      </div>
    </div>
  </div>
</div> -->
