<div>
  <div class="row">
    <div class="col text-center">
      Daily Target
    </div>
    <div class="col text-center">
      <label class="control-label">Calories: {{(goals?.calories | number:'1.0-2') + 'kcals'}}</label>
    </div>
    <div class="col text-center">
      <label class="control-label">Carbs: {{(goals?.carbs| number:'1.0-2') + 'g'}}</label>
    </div>
    <div class="col text-center">
      <label class="control-label">Fats: {{(goals?.fats | number:'1.0-2') + 'g'}}</label>
    </div>
    <div class="col text-center">
      <label class="control-label">Protein: {{(goals?.protein | number:'1.0-2') + 'g'}}</label>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      Current Meal Plan
    </div>
    <div class="col text-center">
      <label class="control-label">Calories: <span [ngClass]="{'text-danger': (getMealCalories(meal) > goals?.calories)}">{{(getMealCalories(meal) | number:'1.0-2') + 'kcals'}}</span></label>
    </div>
    <div class="col text-center">
      <label class="control-label">Carbs: <span [ngClass]="{'text-danger': (getMealCarbs(meal) > goals?.carbs)}">{{(getMealCarbs(meal) | number:'1.0-2') + 'g'}}</span></label>
    </div>
    <div class="col text-center">
      <label class="control-label">Fats: <span [ngClass]="{'text-danger': (getMealFats(meal) > goals?.fats)}">{{(getMealFats(meal) | number:'1.0-2') + 'g'}}</span></label>
    </div>
    <div class="col text-center">
      <label class="control-label">Protein: <span [ngClass]="{'text-danger': (getMealProtein(meal) > goals?.protein)}">{{(getMealProtein(meal) | number:'1.0-2') + 'g'}}</span></label>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      New Food
    </div>
    <div class="col text-center">
      <label class="control-label">Calories: <span [ngClass]="{'text-danger': ((nutrients?.totalNutrients?.ENERC_KCAL?.quantity + getMealCalories(meal)) > goals?.calories)}">{{(nutrients?.totalNutrients?.ENERC_KCAL?.quantity | number:'1.0-2') + 'kcal'}}</span></label>
    </div>
    <div class="col text-center">
      <label class="control-label">Carbs: <span [ngClass]="{'text-danger': ((nutrients?.totalNutrients?.CHOCDF?.quantity + getMealCarbs(meal)) > goals?.carbs)}">{{nutrients?.totalNutrients?.CHOCDF?.quantity | number:'1.0-2'}}{{nutrients?.totalNutrients?.CHOCDF?.unit}}</span></label>
    </div>
    <div class="col text-center">
      <label class="control-label">Fats: <span [ngClass]="{'text-danger': ((nutrients?.totalNutrients?.FAT?.quantity + getMealFats(meal)) > goals?.fats)}">{{nutrients?.totalNutrients?.FAT?.quantity | number:'1.0-2'}}{{nutrients?.totalNutrients?.FAT?.unit}}</span></label>
    </div>
    <div class="col text-center">
      <label class="control-label">Protein: <span [ngClass]="{'text-danger': ((nutrients?.totalNutrients?.PROCNT?.quantity + getMealProtein(meal)) > goals?.protein)}">{{nutrients?.totalNutrients?.PROCNT?.quantity | number:'1.0-2'}}{{nutrients?.totalNutrients?.PROCNT?.unit}}</span></label>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <!-- <mat-progress-bar value="0" bufferValue="0" [color]="progressBarColor"></mat-progress-bar> -->
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.aria-valuenow]="progressBar" aria-valuemin="0" aria-valuemax="100" [style.width.%]="progressBar" [ngClass]="{'bg-danger': (progressBar >= 100)}">{{progressBar | number:'1.0-1'}} %</div>
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.aria-valuenow]="progressBarBuffer" aria-valuemin="0" aria-valuemax="100" [style.width.%]="progressBarBuffer" [ngClass]="{'bg-info': (progressBar + progressBarBuffer) <= 100, 'bg-danger': (progressBar + progressBarBuffer) >= 100}">{{progressBarBuffer | number:'1.0-1'}} % - ({{(progressBar + progressBarBuffer) | number:'1.0-1'}}) %</div>
      </div>
    </div>
    <div class="col text-center">
      Remaining
    </div>
    <div class="col text-center">
      <label class="control-label">Calories: {{(getRemainingCalories(meal) | number:'1.0-2') + 'kcals'}}</label>
    </div>
    <div class="col text-center">
      <label class="control-label">Carbs: {{(getRemainingCarbs(meal) | number:'1.0-2') + 'g'}}</label>
    </div>
    <div class="col text-center">
      <label class="control-label">Fats: {{(getRemainingFats(meal) | number:'1.0-2') + 'g'}}</label>
    </div>
    <div class="col text-center">
      <label class="control-label">Protein: {{(getRemainingProtein(meal) | number:'1.0-2') + 'g'}}</label>
    </div>
  </div>
</div>