<div class="user-account-container h-100">
  <div *ngIf="userAccount && userForm">
    <mat-horizontal-stepper linear="true" #stepper style="margin: 0 auto;max-width: max-content;">
      <mat-step [stepControl]="generalInformation" [completed]="completed(generalInformarion)">
        <ng-template matStepLabel>General Information</ng-template>
        <user-general-info [user]="userAccount" [form]="generalInformation" (updateUser)="updateUser($event);"></user-general-info>
        <div>
          <button mat-button matStepperNext class="float-right">Next</button>
        </div>
      </mat-step>
      <mat-step [stepControl]="bodyMassIndex">
        <ng-template matStepLabel>Body Mass Index (BMI)</ng-template>
        <user-body-info [user]="userAccount" [form]="bodyMassIndex" (updateUser)="updateUser($event);"></user-body-info>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext class="float-right">Next</button>
        </div>
      </mat-step>
      <mat-step [stepControl]="lifestyle">
          <ng-template matStepLabel>Lifestyle</ng-template>
          <user-lifestyle [user]="userAccount" [form]="lifestyle" [healthLabelResults]="healthLabels" [dietLabelResults]="dietLabels" [cautionLabelResults]="cautionLabels" (updateUser)="updateUser($event);"></user-lifestyle>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext class="float-right">Next</button>
          </div>
      </mat-step>
      <!-- <mat-step [stepControl]="secondFormGroup">
          <ng-template matStepLabel>Goal Setting</ng-template>
          <user-general-info [user]="userAccount" [form]="generalInformation" (updateUser)="updateUser($event);"></user-general-info>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext class="float-right">Next</button>
          </div>
      </mat-step> -->
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <mat-card class="text-center">
          <mat-card-title>
            <h1>You are now done.</h1>
          </mat-card-title>
          <mat-card-content>
            <p>Lets get started on your nutritious food journey!</p>
            <a mat-button routerLink='/food-finder'>Search for Food</a> OR <a mat-button routerLink='/meal-calendar'>View Meal Calendar</a>
          </mat-card-content>
        </mat-card>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button routerLink='/meal-calendar' class="float-right">View Meal Calendar</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
  <div *ngIf="!userAccount" class="h-100 d-flex align-items-center justify-content-center">
    <mat-spinner></mat-spinner>
  </div>
</div>