
<mat-card class="text-center h-100 d-flex justify-content-center">
  <div class="align-self-center container">
    <h1 class="display-4">Welcome to CF Blocks</h1>
    <p class="lead">Create a New Account</p>
    <form class="form" role="form" [formGroup]="account" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label offset-sm-2">Name</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="firstName" placeholder="First Name" formControlName="firstName"
                [ngClass]="{'is-invalid': !!errorMessage, 'is-valid': !errorMessage}">
        </div>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="lastName" placeholder="Last Name" formControlName="lastName"
                [ngClass]="{'is-invalid': !!errorMessage, 'is-valid': !errorMessage}">
        </div>
      </div>
      <div class="form-group row">
        <label for="username" class="col-sm-2 col-form-label offset-sm-2">Date of Birth</label>
        <div class="col-sm-6">
          <input type="date" class="form-control" id="dob" formControlName="dob" placeholder="Enter Date of Birth"
                [ngClass]="{'is-invalid': !!errorMessage, 'is-valid': !errorMessage}">
        </div>
      </div>
      <div class="form-group row">
        <label for="username" class="col-sm-2 col-form-label offset-sm-2">Email</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="username" formControlName="username" placeholder="Enter Email"
                [ngClass]="{'is-invalid': !!errorMessage, 'is-valid': !errorMessage}">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label offset-sm-2">Password</label>
        <div class="col-sm-3">
          <input [type]="getPasswordType()" class="form-control" id="password" placeholder="Password" formControlName="password"
                [ngClass]="{'is-invalid': !!errorMessage, 'is-valid': !errorMessage}">
        </div>
        <div class="col-sm-3">
          <input [type]="getPasswordType()" class="form-control" id="password2" placeholder="Confirm Password" formControlName="password2"
                [ngClass]="{'is-invalid': !!errorMessage, 'is-valid': !errorMessage}">
        </div>
        <div class="col-sm-1">
          <i class="fa fa-align-center fa-2x pointer" [ngClass]="{'fa-eye': !passwordHidden, 'fa-eye-slash': passwordHidden}" (click)="togglePasswordHide()"></i>
        </div>
      </div>
      <div class="row" *ngIf="!!errorMessage">
        <div class="offset-4 col-6 text-center text-danger">
          {{errorMessage}}
        </div>
      </div>
      <div class="row">
        <div class="offset-4 col-6 text-center">
          <button type="submit" class="btn btn-block btn-primary">Create Account</button>
        </div>
      </div>
    </form>
  </div>
</mat-card>
