<div class="default-meals-container h-100">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <!-- spacer pushes togglegroup to the right -->
      <span class="toobar-spacer"></span>
      <span>Meal Plan Sizing 
        <button mat-button [matMenuTriggerFor]="mealPlanSizeMenu">{{displayMealPlanSize(mealPlanSize)}}</button>
        <mat-menu #mealPlanSizeMenu="matMenu">
          <button mat-menu-item (click)="setMealPlanSize('Small')">{{displayMealPlanSize('Small')}}</button>
          <button mat-menu-item (click)="setMealPlanSize('Medium')">{{displayMealPlanSize('Medium')}}</button>
          <button mat-menu-item (click)="setMealPlanSize('Large')">{{displayMealPlanSize('Large')}}</button>
        </mat-menu>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-tab-group class="h-100" color="accent" backgroundColor="primary" mat-align-tabs="center">
    <mat-tab *ngFor="let tab of tabs" [label]="tab?.label" class="h-100">
      <mat-accordion displayMode="flat">
        <mat-expansion-panel *ngFor="let mealType of mealTypes;let first = first" [expanded]="first">
          <mat-expansion-panel-header>
            {{mealType}}
          </mat-expansion-panel-header>
          <div class="d-flex flex-row flex-wrap align-content-stretch">
            <mat-card *ngFor="let dm of tab?.plan | mealType:mealType | mealSize:mealPlanSize" (click)="mealPicker.open()">
              <mat-list>
                <mat-list-item *ngFor="let meal of dm?.meals">{{getMealDisplay(meal)}}</mat-list-item>
                <mat-list-item *ngIf="!dm || dm?.meals?.length == 0" class="w-100 h-100 text-center">
                  <p>No food to display</p>
                </mat-list-item>
               </mat-list>
              <input matInput [ngModel]="datepicker" [matDatepicker]="mealPicker" (dateChange)="addMeals(dm?.meals, $event)" hidden>
              <mat-datepicker touchUi #mealPicker></mat-datepicker>
            </mat-card>
            <mat-card *ngIf="!tab?.plan || (tab?.plan | mealType:mealType | mealSize:mealPlanSize)?.length == 0" class="w-100 h-100 text-center">
              <p>No meals to display</p>
            </mat-card>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-tab>
  </mat-tab-group>
</div>