<!-- <div class="modal scroll fade" id="create-meal-modal" tabindex="-1" role="dialog" [style.height.px]="getWindowHeight()">
  <div class="modal-dialog modal-lg" role="document" style="max-width:98%;">
    <div class="modal-content">
      <div class="modal-body"> -->
<div class="card">
  <div class="card-body">
    <div class="row">
      <!-- <div class="col-md-12 col-lg-4">
        <food-nutrients [food]='food' [nutrients]='nutrients' [quantity]='quantity' [measurement]='measurement' (updateNutritionInfo)="updateNutritionInfo.emit($event)"></food-nutrients>
      </div> -->
      <div class="col-12">
        <button type="button" class="btn btn-primary" (click)="back()" style="border-radius: 30px;"><mat-icon>arrow_back_ios</mat-icon>Go Back</button>
        <button mat-button color="primary" style="margin-left: 15px;" [matMenuTriggerFor]="createMeal" matTooltip="Add Meal to meal plan">Create Meal</button>
        <mat-menu #createMeal="matMenu">
          <button mat-menu-item (click)="createBreakfastMeal(food, quantity, measurement, qualifier)" matTooltip="Add as breakfast item">Breakfast</button>
          <button mat-menu-item (click)="createLunchMeal(food, quantity, measurement, qualifier)" matTooltip="Add as lunch item">Lunch</button>
          <button mat-menu-item (click)="createDinnerMeal(food, quantity, measurement, qualifier)" matTooltip="Add as dinner item">Dinner</button>
          <button mat-menu-item (click)="createSnackMeal(food, quantity, measurement, qualifier)" matTooltip="Add as snack item">Snack</button>
          <button mat-menu-item (click)="createTeatimeMeal(food, quantity, measurement, qualifier)" matTooltip="Add as teatime item">Teatime</button>
        </mat-menu>
      </div>
      <div class="col-lg-12">
        <macro-calculator [meals]="meals" [mealNutrients]="mealNutrients" [food]='food' [nutrients]='nutrients' [quantity]='quantity' [measurement]='measurement'></macro-calculator>
        <calendar [view]="'Day'" [mealUpdateNotice]="mealCalendarUpdate" (mealCalendarUpdate)="updateByMealCalendar($event)" (searchMeal)="searchMeal($event)" (modifyMeal)="modifyMeal($event)" (removeMeal)="removeMeal($event)" (updateMealType)="updateMealType($event.meal, $event.type)" (duplicateMeal)="duplicateMeal($event)"></calendar>
      </div>
    </div>
    <!-- </div>
    <div class="modal-footer"> -->
  </div>
</div>
      <!-- </div>
    </div>
  </div>
</div> -->