<span>
  <span>
    {{totalNutrients?.label}}: 
    <span *ngIf="totalNutrients?.quantity > 0">{{totalNutrients?.quantity | number:1.0-1}} {{totalNutrients?.unit}}</span>
    <span *ngIf="totalNutrients?.quantity <= 0"> - </span>
  </span>
  <span class="float-right" *ngIf="totalDaily">{{totalDaily?.quantity | number:1.0-1}} {{totalDaily?.unit}}</span>
</span>