<div class="background h-100" [ngClass]="{'mobile': isMobile()}">
  <navbar></navbar>
  <main class="main mt-1 mb-1 h-100">
    <router-outlet></router-outlet>
  </main>
  <!--<foot class="mt-auto"></foot>-->
</div>
