<div class="row">
  <div class="col">
    <calendar [name]="getFormatedName()" [mealUpdateNotice]="mealUpdates" (searchMeal)="searchMeal($event)" 
      (modifyMeal)="modifyMeal($event)" (removeMeal)="removeMeal($event)" (updateMealType)="updateMealType($event.meal, $event.type)" (duplicateMeal)="duplicateMeal($event)"></calendar>
  </div>
</div>
