<div class="container h-100">
  <div class="row h-100">
    <div class="col-sm-12 my-auto">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="assets/imgs/food.jpg" alt="Food Finder Image">
          <div class="card-body">
            <h4 class="card-title">Food Finder</h4>
            <p class="card-text">Search the database of food for nutrition facts, portion sizing, and the ability to add to you meal planner.</p>
            <a routerLink="/food-finder" class="btn btn-primary stretched-link">Search the Database</a>
          </div>
        </div>
    
        <div class="card">
          <img class="card-img-top" src="assets/imgs/calendar.jpg" alt="Meal Planner Image">
          <div class="card-body">
            <h4 class="card-title">Meal Planner</h4>
            <p class="card-text">View your calendar of meals planned for multiple days in advanced.</p>
            <a routerLink="/meal-calendar" class="btn btn-primary stretched-link">See Planner</a>
          </div>
        </div>

        <div class="card">
          <img class="card-img-top" src="assets/imgs/tutorials.jpeg" alt="Resources Image">
          <div class="card-body">
            <h4 class="card-title">Resources</h4>
            <p class="card-text">Additional Information including: </p>
            <ul>
              <li>How to Get started</li>
              <li>What is considered healthy</li>
              <li>Tutorials to the site</li>
              <li>Many more...</li>
            </ul>
            <a routerLink="/resources" class="btn btn-primary stretched-link">View Resources</a>
          </div>
        </div>
    </div>
 </div>

  

    <!-- <div class="card" style="width:500px">
      <img class="card-img-top" src="assets/imgs/img_avatar1.png" alt="Card image">
      <div class="card-img-overlay">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text.</p>
        <a href="#" class="btn btn-primary stretched-link">See Profile</a>
      </div>
    </div> -->
  <!-- </div> -->
</div>