<div class="row" *ngIf="name">
  <div class="col">
    <h1>
      <b>{{name}}'s Plan</b>
    </h1>
  </div>
</div>
<div class="card">
  <div class="card-header meal-calendar-heading">
    <div class="row">
      <div class="col-4">
        <b>
            <button type="button" mat-button (click)="selectDatePicker.open()" style="font-size: 30px;" matTooltip="Select another date">
              {{selectedDate | dateFormat: 'MMMM Do'}}
              <mat-icon style="font-size: 30px; width: 30px; height: 38px;">calendar_today</mat-icon>
            </button>
            <input matInput [ngModel]="datepicker" [matDatepicker]="selectDatePicker" (dateChange)="datepickerDateSelection($event)" hidden>
            <mat-datepicker touchUi #selectDatePicker></mat-datepicker>
          <!-- <span class="dropdown-toggle" id="calendar-date-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:20px;">{{selectedDate | dateFormat: 'MMMM Do'}}</span>
          <div id="calendar-date-dropdown-menu" class="dropdown-menu" aria-labelledby="calendar-date-dropdown"></div> -->
        </b>
      </div>
      <div class="col-8">
        <span style="display:inline-block;" class="float-right">
          <help [text]="helpText" class="pull-right" style="margin-top: -6px;"></help>
          <button type="button" class="btn btn-primary btn-sm pull-right" (click)="getGroceryList()" matTooltip="Generate Grocery List">Grocery List</button>
          <button type="button" class="btn btn-sm btn-primary pull-right mr-1" [ngClass]="{'btn-primary': todayIsSelected, 'btn-outline-primary': !todayIsSelected}" (click)="toggleToday()" [matTooltip]="todayIsSelected ? 'Today is Selected' : 'Select Today'">Today</button>
          <div class="btn-group pull-right mr-1">
            <!-- <button mat-raised-button color="primary" type="button" (click)="goBackMonth()"><mat-icon>chevron_left</mat-icon></button>
            <button mat-raised-button color="primary" type="button" (click)="goNextMonth()"><mat-icon>chevron_right</mat-icon></button> -->
            <button type="button" class="btn btn-sm btn-primary" (click)="goBackMonth()" [matTooltip]="'Go back ' + (view ? view === 'Bi-Weekly' ? '2 weeks' : 'a ' + view : '')"><i class="fa fa-fw fa-lg fa-chevron-left"></i></button>
            <button type="button" class="btn btn-sm btn-primary" (click)="goNextMonth()" [matTooltip]="'Go forward ' + (view ? view === 'Bi-Weekly' ? '2 weeks' : 'a ' + view : '')"><i class="fa fa-fw fa-lg fa-chevron-right"></i></button>
          </div>
          <span class="dropdown pull-right mr-1">
            <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="calendar-type-drodown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" matTooltip="Select calendar view">
              {{view}}
            </button>
            <div class="dropdown-menu" aria-labelledby="calendar-type-drodown">
              <a class="dropdown-item pointer" [ngClass]="{'active': isMonthView}" (click)="loadView('Monthly')">Monthly</a>
              <a class="dropdown-item pointer" [ngClass]="{'active': isBiWeekView}" (click)="loadView('Bi-Weekly')">Bi-Weekly</a>
              <a class="dropdown-item pointer" [ngClass]="{'active': isWeekView}" (click)="loadView('Weekly')">Weekly</a>
              <a class="dropdown-item pointer" [ngClass]="{'active': isDayView}" (click)="loadView('Day')">Day</a>
            </div>
          </span>
        </span>
      </div>
    </div>
  </div>
  <div class="card-body meal-calendar-body">
    <div class="table-responsive">
      <table class="table">
        <tbody>
        <tr *ngFor="let week of month.weeks;">
          <td *ngFor="let day of week.days" [ngClass]="{'snow-4-fill': !day.isThisMonth, 'snow-2-fill': day.isThisMonth}" style="overflow: hidden;padding:0;border:none;" [style.width.%]="100/7">
            <calendar-day [day]="day" [meals]="getMeal(day)" [isSelected]="isSameDay(selectedDate, day.date)" [view]="view" (updateSelectedDate)="selectDate($event);" (searchMeal)="searchMealEvent($event)" 
              (modifyMeal)="modifyMealEvent($event)" (removeMeal)="removeMealEvent($event)" (updateMealType)="updateMealType.emit($event)" (duplicateMeal)="duplicateMeal.emit($event)"></calendar-day>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
