<div class="container h-100">
  <form class="form-horizontal" role="form" [formGroup]="groceryFG" (ngSubmit)="onSubmit()">
    <div class="heading-container w-100 text-center">
      <h1>Grocery List</h1>
      <!-- <button mat-button type="button" (click)="startEditingDateRange()">start editing</button>
      <button mat-button type="button" (click)="stopEditingDateRange()">stop editing</button> -->
    </div>
    <mat-card>
      <mat-card-title class="text-center">
        <mat-expansion-panel #editableDateRangeEP [expanded]="editableDateRangeEPexpanded">
          <!-- <div *ngIf="editingDateRange"> -->
            <mat-form-field class="example-full-width">
              <input matInput [max]="endDate?.value" [formControl]="startDate" [matDatepicker]="startPicker" placeholder="startDate">
              <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
              <mat-datepicker touchUi #startPicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput [min]="startDate?.value" [formControl]="endDate" [matDatepicker]="endPicker" placeholder="endDate">
              <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
              <mat-datepicker touchUi #endPicker></mat-datepicker>
            </mat-form-field>
            <br/>
            <button type="submit" mat-button>Update</button>
            <button mat-button (click)="stopEditingDateRange()">Cancel</button>
          <!-- </div> -->
        </mat-expansion-panel>
        <mat-expansion-panel #dateRangeEP [expanded]="dateRangeEPexpanded">
          <!-- <div *ngIf="!editingDateRange" class="d-flex flex-row justify-content-center"> -->
          <div class="d-flex flex-row justify-content-center">
            <h2 class="mb-0">{{startDate?.value | dateFormat: 'M/D'}} - {{endDate?.value | dateFormat: 'M/D'}}</h2>
            <button mat-button type="button" (click)="startEditingDateRange()" matTooltip="Adjust date range">
              <mat-icon>edit</mat-icon>
            </button>
            <help [text]="helpText"></help>
            <!-- <button mat-button type="button" (click)="print()">
              <mat-icon>print</mat-icon>
            </button> -->
          </div>
        </mat-expansion-panel>
      </mat-card-title>
      <mat-card-content>
        <mat-expansion-panel #groceryListEP [expanded]="groceryListEPexpanded">
          <div class="d-flex flex-wrap align-content-around" [formGroup]="groceryList">
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pb-3" *ngFor="let groceryItem of groceryItems;let last = last">
              <div class="col-12 h-100 d-flex flex-row align-items-center">
                <mat-checkbox *ngIf="groceryList.get(getFormControlName(groceryItem))" [formControlName]="getFormControlName(groceryItem)" labelPosition="after">
                  <span class="text-wrap break-word">
                    <span> {{groceryItem?.quantity}}</span>
                    <span *ngIf="groceryItem?.qualifier"> {{groceryItem?.qualifier?.label}}</span>
                    <span> {{groceryItem?.measurement?.label}}</span>
                    <span> {{groceryItem?.label}} </span>
                  </span>
                </mat-checkbox>
              </div>
              <mat-divider inset></mat-divider>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-card-content>
    </mat-card>
  </form>
</div>
