<!-- <div class="row pointer m-1" [ngClass]="{'active leaf-green-fill snow': isSelected, 'coal grey2-fill': !isSelected}" (click)="toggleSelectFood()">
  <div class="col-12">
    <span style="display:inline-block;">{{food.name}}</span>
      <span style="white-space: nowrap;display:inline-block;" class="pull-right">
      <span class="text-center rounded-circle grey1-fill grey3-fill-hover pull-right update-food favorite pointer" title="Favorite Food" [ngClass]="{'active': isFavoriteFood(), 'gold': isFavoriteFood(), 'coal': !isFavoriteFood()}"
            (click)="$event.stopPropagation();isFavoriteFood() ? unFavoriteFood() : favoriteFood()"><i class="fa fa-xs fa-fw fa-star"></i></span>
      <span class="text-center rounded-circle grey1-fill grey3-fill-hover pull-right update-food edit pointer" title="Update Food"
            (click)="$event.stopPropagation();loadFoodModal()" *ngIf="canEdit()"><i class="fas fa-xs fa-fw fa-edit coal"></i></span>
      <span class="text-center rounded-circle coal grey1-fill grey3-fill-hover pull-right update-food see-nutrition-facts pointer"
          title="See Nutrition Facts" (click)="$event.stopPropagation();toggleNutritionFacts()">
        <span *ngIf="displayNutritionFacts"><i class="fas fa-xs fa-fw coal fa-chevron-circle-down"></i></span>
        <span *ngIf="!displayNutritionFacts"><i class="fas fa-xs fa-fw coal fa-chevron-circle-up"></i></span>
      </span>
    </span>
  </div>
  <div class="col-12" *ngIf="displayNutritionFacts">
    <div class="row">
      <div class="offset-1 col-2 text-center">{{(food?.carb | number:'1.0-2') + 'c'}}</div>
      <div class="col-2 text-center">{{(food?.fat | number:'1.0-2') + 'f'}}</div>
      <div class="col-2 text-center">{{(food?.protein | number:'1.0-2') + 'p'}}</div>
      <div class="col-5 text-center">{{(calcCalories(food) | number:'1.0-2') + 'kcals'}}</div>
    </div>
  </div>
</div> -->
