<!-- <div class="row pointer m-1" [ngClass]="{'active leaf-green-fill snow': isSelected, 'coal grey2-fill': !isSelected}" (click)="selectMeal()">
  <div class="col-12">
    <span style="display:inline-block;">{{meal.name}}</span>
    <span style="white-space: nowrap;display:inline-block;" class="pull-right">
      <span class="text-center rounded-circle grey1-fill grey3-fill-hover pull-right update-meal favorite pointer" title="Favorite Meal" [ngClass]="{'active': isFavoriteMeal()}"
            (click)="$event.stopPropagation();isFavoriteMeal() ? unFavoriteMeal() : favoriteMeal()"><i class="fa fa-xs fa-fw fa-star" [ngClass]="{'gold': isFavoriteMeal(), 'coal': !isFavoriteMeal()}"></i></span>
      <span class="text-center rounded-circle coal grey1-fill grey3-fill-hover pull-right update-meal see-nutrition-facts pointer"
            title="See Nutrition Facts" (click)="$event.stopPropagation();toggleNutritionFacts()">
        <span *ngIf="displayNutritionFacts"><i class="fas fa-xs fa-fw coal fa-chevron-circle-down"></i></span>
        <span *ngIf="!displayNutritionFacts"><i class="fas fa-xs fa-fw coal fa-chevron-circle-up"></i></span>
      </span>
    </span>
  </div>
  <div class="col-12" *ngIf="displayNutritionFacts">
    <div class="row">
      <div class="offset-1 col-2 text-center">{{(getMealCarbs(meal) | number:'1.0-2') + 'c'}}</div>
      <div class="col-2 text-center">{{(getMealFats(meal) | number:'1.0-2') + 'f'}}</div>
      <div class="col-2 text-center">{{(getMealProtein(meal) | number:'1.0-2') + 'p'}}</div>
      <div class="col-5 text-center">{{(getMealCalories(meal) | number:'1.0-2') + 'kcals'}}</div>
    </div>
  </div>
</div> -->
