/* You can add global styles to this file, and also import other style files */
/* Main CSS */
html, body {
  background-color: #fff;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'PT Sans', 'Helvetica Nue', arial, sans-serif;
}
html.kitchen-theme, body.kitchen-theme {
  background-color: rgba(256,256,256,0);
  background-image: url('./assets/imgs/colorful-background.jpg');
}
.main {
  padding-top: 57px;
}
div.page-header {
  border-radius: 5px;
  padding: 15px 25px;
  background: #fff;
  border: 3px solid #ddd;
  margin-bottom: 15px;
}

/* font awesome overrides */
i.fa.active {
  color: #0072c6;
}

/* Helper CSS */
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*.align-middle {*/
/*position: absolute;*/
/*top: 50%;*/
/*}*/
/*.align-middle-left {*/
/*position: absolute;*/
/*top: 50%;*/
/*left:0;*/
/*}*/
/*.align-middle-right {*/
/*position: absolute;*/
/*top: 50%;*/
/*right:0;*/
/*}*/
.pointer:hover {
  cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-snack-bar {
  margin: 0 !important;
  position: absolute;
  right: 5px;
  top: 60px;
}
.custom-snack-bar.error {
  background-color: red;
  color: white
}
