@import '~@angular/material/theming';

@include mat-core();

$app-primary: mat-palette($mat-deep-purple);
$app-accent:  mat-palette($mat-amber, A200, A100, A400);

$app-theme: mat-light-theme($app-primary, $app-accent);

@mixin mix-app-theme($app-theme) {
  $primary: map-get($app-theme, primary);
  $accent: map-get($app-theme, accent);

  .mat-button-toggle {
    background-color: mat-color($primary);
    color: mat-color($primary, default-contrast);
  }

  .mat-button-toggle-checked {
    background-color: mat-color($accent);
    color: mat-color($accent, default-contrast);
  }
  .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 32px!important;
    padding: 0px 4px!important;;
  }

  .nutrition-facts-serving {
    .mat-form-field-appearance-outline .mat-form-field-infix {
      border-top-width: 10px!important;
      padding: 0 0 4px 0!important;
    }
   .nutrition-facts-quantity .mat-form-field-infix{
    width: 4em;
   }
   .nutrition-facts-measure .mat-form-field-infix{
    width: 6em;
   }
  }
  .meal-calendar-body .day .nutrient-labels .mat-expansion-panel-header {
    height: 30px!important;
  }
  // .nutrition-facts-serving .mat-form-field-appearance-outline .mat-form-field-infix {
  //   border-top-width: 10px!important;
  //   padding: 0 0 4px 0!important;
  //   // width: 4em!important;
  // }
  // .nutrition-facts-serving mat-form-field.nutrition-facts-quantity .mat-form-field-appearance-outline .mat-form-field-infix {
  //   width: 4em!important;
  // }
}

// Include the mixin
@include mix-app-theme($app-theme);