<div class="food-result-container mb-3" (click)="selectFood()" [ngClass]="{'selected': isSelected}" matTooltip="Click to Select food. Click again to view calendar">
  <div *ngIf="food?.food" class="food">
    <mat-card class="py-1 px-3">
      <mat-card-title>
        {{ food?.food?.label }}
      </mat-card-title>
      <!-- <div class="card-body"> -->
        <div class="row">
          <div class="col-4">
            <img [src]="food?.food?.image" class="img-thump" style="width: 100%; height: auto;" onerror="this.onerror=null;this.src='/assets/imgs/favicon.png'"/>
            <div class="food-category">
              <span class="badge badge-pill badge-primary">{{ food?.food?.category }}</span>
            </div>
            <!-- <div class="food-contents" *ngIf="food?.food?.foodContentsLabel">
              <label>Contains: </label> 
              <span *ngIf="food?.food?.foodContentsLabel?.length > 50">
                {{ food?.food?.foodContentsLabel | slice:0:50}}{{moreContents ? food?.food?.foodContentsLabel.substring(50) : ''}} 
                <button type="button" class="btn btn-link" (click)="moreContents = !moreContents">read {{moreContents ? 'less' : 'more'}} ...</button>
              </span>
              <span *ngIf="food?.food?.foodContentsLabel?.length <= 50">{{ food?.food?.foodContentsLabel }}</span>
            </div> -->
          </div>
          <div class="col-8">
            <div class="row">
              <div class="col-12">
                <span class="float-right">
                  <label>Serving</label>: 100g 
                </span>
              </div>
              <div class="col-12">
                <span class="float-right">
                  <label>Calories</label>: {{ food?.food?.nutrients?.ENERC_KCAL | number: '1.0-2'}} cals
                </span>
              </div>
            </div>
          </div>
          <div class="col-12">
            <mat-divider inset></mat-divider>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-4 text-right">
                Carbs
              </div>
              <div class="col-4 text-center">
                Fats
              </div>
              <div class="col-4 text-left">
                Protein
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-4 text-right">
                {{ food?.food?.nutrients?.CHOCDF | number: '1.0-2'}}g
              </div>
              <div class="col-4 text-center">
                {{ food?.food?.nutrients?.FAT | number: '1.0-2'}}g
              </div>
              <div class="col-4 text-left">
                {{ food?.food?.nutrients?.PROCNT | number: '1.0-2'}}g
              </div>
            </div>
          </div>
        </div>
      <!-- </div> -->
      <!-- <div class="card-footer text-center">
        <button type="button" mat-button color="primary" (click)="getNutrition()">Nutrition Facts</button>
        <button type="button" mat-button color="primary" (click)="addToMealPlan()">Add</button>
      </div> -->
    </mat-card>
  </div>
  <div *ngIf="food?.recipe" class="recipe"></div>
</div>