.card {
  background-color: rgba(255,255,255, .9);
}

.card .card-body {
  padding: .3rem;
}
.food-result-container.selected .mat-card {
  background-color: #ccff99;
}
.mat-card-title {
  font-size: 18px;
}