<div class="food-nutrients-container mb-3">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <img [src]="food?.food?.image" class="img-thump" style="width: 100%; height: auto;" onerror="this.onerror=null;this.src='/assets/imgs/favicon.png'"/>
        </div>
        <div class="col-sm-12 col-md-8 food-name-label">
          <label>{{food?.food?.label}}</label>
          <p>{{food?.food?.foodContentsLabel}}</p>
          <!-- <button type="button" class="btn btn-sm btn-secondary" *ngIf="!calendarViewOpen" (click)="openCreateMeal()">Open Calendar</button>
          <button type="button" class="btn btn-sm btn-secondary" *ngIf="calendarViewOpen" (click)="createMeal()">Create Meal</button> -->
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <nutrition-facts [food]='food' [quantity]="quantity" [measurement]="measurement" [nutrients]="nutrients" [calendarViewOpen]="calendarViewOpen" mode="foodfinder" (updateNutritionInfo)="updateNutritionInfo.emit($event)" (openCreateMeal)="openCreateMeal()" (createMeal)="createMeal($event)"></nutrition-facts>
        </div>
      </div>
    </div>
  </div>
</div>