<form class="form-horizontal needs-validation" role="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-title>
      <h1>Nutrition Goal Setting</h1>
    </mat-card-title>
    <mat-card-content>
      <div class="form-container">
        
        <h2>What Nutrition Plan would you like to follow?</h2>
        <!-- Activity Level -->
        <mat-form-field appearance="standard">
          <mat-label>Nutrition Plan</mat-label>
          <mat-select [formControl]="nutritionPlan" required>
            <mat-option value="calorie-tracking">Calorie Tracking</mat-option>
            <mat-option value="zone">Zone Diet Plan</mat-option>
            <mat-option value="vegan-zone">Zone Diet Plan (Vegan)</mat-option>
            <!-- <mat-option value="zone-block">Zone Block Diet Plan</mat-option> -->
            <mat-option value="keto">Keto</mat-option>
          </mat-select>
          <mat-error *ngIf="nutritionPlan.hasError('required')">
            Nutrition Plan is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <h2>What Health Labels would you like to automatically filter search by?</h2>
        <div class="row mx-3" formGroupName="healthLabels">
          <div class="col-sm-12 col-md-6 col-lg-3" *ngFor="let healthLabel of healthLabelResults">
            <mat-checkbox *ngIf="healthLabels.get(getLabel(healthLabel))" [formControlName]="getLabel(healthLabel)" labelPosition="after" [value]="getLabel(healthLabel)"> {{healthLabel.label ? healthLabel.label : healthLabel['web-label']}} </mat-checkbox>
          </div>
        </div>

        <h2>What Diet Labels would you like to automatically filter search by?</h2>
        <div class="row mx-3" formGroupName="dietLabels">
          <div class="col-sm-12 col-md-6 col-lg-3" *ngFor="let dietLabel of dietLabelResults">
            <mat-checkbox *ngIf="dietLabels.get(getLabel(dietLabel))" [formControlName]="getLabel(dietLabel)" labelPosition="after" [value]="getLabel(dietLabel)"> {{dietLabel.label ? dietLabel.label : dietLabel['web-label']}} </mat-checkbox>
          </div>
        </div>

        <h2>What Caution Labels would you like to automatically filter search by?</h2>
        <div class="row mx-3" formGroupName="cautionLabels">
          <div class="col-sm-12 col-md-6 col-lg-3" *ngFor="let cautionLabel of cautionLabelResults">
            <mat-checkbox *ngIf="cautionLabels.get(cautionLabel)" [formControlName]="cautionLabel" labelPosition="after" [value]="cautionLabel"> {{cautionLabel}} </mat-checkbox>
          </div>
        </div>
        
      </div>
    </mat-card-content>
    <mat-card-footer>
      <div class="row">
        <div class="col text-center">
          <button mat-button type="button" color="accent" [disabled]="form?.dirty" (click)="reset()">Revert</button>
          <button mat-button type="submit" color="primary" style="margin-left: 15px;" [disabled]="!form.valid">Save</button>
        </div>
      </div>
    </mat-card-footer>
  </mat-card>
</form>
