<div class="planner-region">
  <div class="planner-calendar row">
    <!--<button type="button" class="btn btn-sm btn-primary" (click)="pageLeft()"><i class="fa fa-fw fa-lg fa-chevron-left"></i></button>-->
    <!--<button type="button" class="btn btn-secondary col-1" style="display: inline-block;" *ngIf="showCalendar"> < </button>-->
    <div style="width: 100vw; max-height: 20vw; overflow: auto;">
      <div *ngFor="let day of calendarDisplay" class="calendar-day" (click)="selectDay(day)" [ngClass]="{'pointer': showCalendar}">
        <div class="card m-1" *ngIf="isSelected(day?.date) || showCalendar">
          <div class="card-body p-1">
            <div class="text-center"> {{day.date | dateFormat: 'MMMM DD'}}</div>
            <p *ngIf="showCalendar">......</p>
          </div>
        </div>
      </div>
    </div>
    <!--<button type="button" class="btn btn-secondary col-1" style="display: inline-block;" *ngIf="showCalendar"> > </button>-->
    <button type="button" class="btn btn-block btn-primary" (click)="toggleCalendar()">Toggle</button>
  </div>
  <div class="planner-action-bar">
    <button type="button" class="btn btn-secondary pull-right">Add Food</button>
  </div>
  <div class="food-display">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Information</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let food of foodDisplay?.foods;">
          <td>
            <input type="checkbox"/>
          </td>
          <td>{{food?.name}}</td>
          <td>cal {{food?.calories}} - </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
