<div class="home-page h-100">
  <!--<div class="row">-->
    <!--<div class="col">-->
      <!--<img src="/assets/imgs/logo.png" alt="CF Blocks Logo" class="logo"/>-->
      <!--<a class="pull-right ml-1" routerLink="/signup">Sign Up</a>-->
      <!--<a class="pull-right mr-1" routerLink="/signin">Sign In</a>-->
    <!--</div>-->
  <!--</div>-->
  <div class="main-heading ml-3 mr-3">
    <div class="main-title text-center">Meal Planning for Healthier Living</div>
    <div class="start-here">
      <div class="sub-title ml-1 mr-1">Start Today For Free!</div>
      <div class="row">
        <div class="col-8 offset-2">
          <div class="row">
            <a routerLink="/signup" class="btn btn-lg btn-primary">Sign Up</a>
            <div class="text-muted text-sm-left">Start on your own or with friends</div>
          </div>
        </div>
      </div>
    </div>
    <div class="sub-title">Track your macros and dominate your nutrition with easy to use meal building tool, calendar tracking, sharing meals with friends using a Zone Block template.</div>
  </div>
</div>
