<div *ngIf="menu" class="resource-menu mx-3 py-1">
  <a class="resource-menu-text w-auto pointer" (click)="goToLink()">{{menu?.label}}</a>
  <button mat-icon-button (click)="toggle()" *ngIf="menu?.subMenus?.length > 0" style="display: inline-block;">
    <mat-icon>{{opened ? 'expand_more' : 'chevron_right'}}</mat-icon>
  </button>
  <mat-expansion-panel class="p-0" #expansionPanel hideToggle="true" (afterCollapse)="collapseChildren()" *ngIf="menu?.subMenus?.length > 0">
    <resource-menu #subMenu *ngFor="let sm of menu?.subMenus" [menu]="sm" (goTo)="goTo.emit($event)"></resource-menu>
  </mat-expansion-panel>
</div>
