<!-- <div class="card meal-builder">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <h1>
          <b>{{getFormatedName()}}'s Meals -
            <span class="dropdown-toggle" id="meal-builder-date-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{mealDay | date: 'MMMM d'}}</span>
            <div id="meal-builder-date-dropdown-menu" class="dropdown-menu" aria-labelledby="meal-builder-date-dropdown"></div>
          </b>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col meal-container">
        <div class="row meal-totals">
          <div class="col text-center">
            <span class="todays-totals">
              <label class="control-label"><b>Carbs:</b></label><span class="mr-2 ">&nbsp;{{(getTodaysCarbTotal() | number:'1.0-2') + 'g / ' + (getDailyCarbTotal() | number:'1.0-2' ) + 'g'}}
                {{ ' - ' + ( getTodaysCarbTotalPercentage() | number:'1.0-2' ) + '%'}}</span>
            </span>
            <div class="progress" *ngIf="getDailyCarbTotal()">
              <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" [style.width.%]="getTodaysCarbTotalPercentage()" [style.background]="progressBarColor(getTodaysCarbTotalPercentage())"></div>
            </div>
            <span class="todays-totals">
              <label class="control-label"><b>Fats:</b></label><span class="mr-2">&nbsp;{{(getTodaysFatTotal() | number:'1.0-2') + 'g / ' + (getDailyFatTotal() | number:'1.0-2') + 'g'}}
                {{ ' - ' + ( getTodaysFatTotalPercentage() | number:'1.0-2' ) + '%'}}</span>
            </span>
            <div class="progress" *ngIf="getDailyCarbTotal()">
              <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" [style.width.%]="getTodaysFatTotalPercentage()" [style.background]="progressBarColor(getTodaysFatTotalPercentage())"></div>
            </div>
            <span class="todays-totals">
              <label class="control-label"><b>Protein:</b></label><span class="mr-2">&nbsp;{{(getTodaysProteinTotal() | number:'1.0-2') + 'g / ' + (getDailyProteinTotal() | number:'1.0-2') + 'g'}}
                {{ ' - ' + ( getTodaysProteinTotalPercentage() | number:'1.0-2' ) + '%'}}</span>
            </span>
            <div class="progress" *ngIf="getDailyCarbTotal()">
              <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" [style.width.%]="getTodaysProteinTotalPercentage()" [style.background]="progressBarColor(getTodaysProteinTotalPercentage())"></div>
            </div>
            <span class="todays-totals">
              <label class="control-label"><b>Calories:</b></label><span class="mr-2">&nbsp;{{(getTodaysCalorieTotal() | number:'1.0-2') + 'kcals / ' + (getDailyCalorieTotal() | number:'1.0-2') + 'kcals'}}
                {{ ' - ' + ( getTodaysCalorieTotalPercentage() | number:'1.0-2' ) + '%'}}</span>
            </span>
            <div class="progress" *ngIf="getDailyCarbTotal()">
              <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" [style.width.%]="getTodaysCalorieTotalPercentage()" [style.background]="progressBarColor(getTodaysCalorieTotalPercentage())"></div>
            </div>
          </div>
        </div>
        <div class="row meals">
          <div class="col">
            <meal-editor [meals]="mealCalendar.meals" (loadMealModal)="loadSelectFoodModule()" (saveMeals)="updateAndSaveMeals($event)" (loadMealSelectModal)="loadMealSelectModal()"></meal-editor>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal scroll fade" id="food-selector-modal" tabindex="-1" role="dialog" [style.height.px]="getWindowHeight()">
  <div class="modal-dialog modal-lg" role="document" style="max-width:98%;">
    <div class="modal-content">
      <div class="modal-header" style="padding-top:.3em;padding-bottom:.3em;">
        <div class="form-group" style="width:100%;margin-bottom: 0;">
          <label class="control-label" style="display:inline-block;">Meal's Name: </label>
          <input class="form-control form-control-sm" [ngClass]="{'is-invalid': !meal.name}" type="text" [(ngModel)]="meal.name"/>
          <div class="invalid-feedback">Meal Must Have A Name</div>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fa fa-fw fa-times coal"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <div class="input-group">
                <input type="search" class="form-control form-control-sm" [ngClass]="{'is-invalid': (foods | foodFilter:foodSearch:meal?.foods:user?.favFoods).length < 1}" id="food-filter" [(ngModel)]="foodSearch" placeholder="Filter"/>
                <span class="text-sm-center pl-1 pr-2" style="padding: .25rem .5rem;font-style: italic;">or</span>
                <div class="input-group-append">
                  <button type="button" class="btn btn-sm btn-primary" (click)="loadFoodModal()">Create Food</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row food-container" style="margin-left:0;margin-right:0;">
          <div class="col-sm-12 col-md-6 col-lg-3" *ngFor="let food of foods | foodFilter:foodSearch:meal?.foods:user?.favFoods">
            <food-item [food]="food" [isSelected]="inMeal(food)" [canAdd]="!inMeal(food)" [canUpdate]="true" [canRemove]="inMeal(food)" (updateFood)="loadFoodModal(food)" (add)="addFoodToMeal($event)" (remove)="removeFoodFromMeal($event)"></food-item>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col text-center">
            <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Cancel">Cancel</button>
            <button type="submit" class="btn btn-primary" style="margin-left: 15px;" [disabled]="!canUpdateMeal()" (click)="updateMeal(meal)">Create Meal</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal scroll fade" id="meal-selector-modal" tabindex="-1" role="dialog" [style.height.px]="getWindowHeight()">
  <div class="modal-dialog modal-lg" role="document" style="max-width:98%;">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <div class="input-group">
                <input type="search" class="form-control form-control-sm" [ngClass]="{'is-invalid': (foods | foodFilter:mealSearch:meal?.foods:user?.favFoods).length < 1}" id="food-filter" [(ngModel)]="mealSearch" placeholder="Filter"/>
                <span class="text-sm-center pl-1 pr-2" style="padding: .25rem .5rem;font-style: italic;">or</span>
                <div class="input-group-append">
                  <button type="button" class="btn btn-sm btn-primary" (click)="loadFoodModal()">Create Food</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row food-container" style="margin-left:0;margin-right:0;">
          <div class="col-sm-12 col-md-6 col-lg-3" *ngFor="let meal of meals | mealFilter:mealSearch:user?.favFoods">
            <meal-item [meal]="meal" (mealSelection)="updateMeal($event)"></meal-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modify-food-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document" style="max-width:98%;">
    <div class="modal-content">
      <food-creator [food]="updateFood" (cancelEvent)="resetFoodCreator()"></food-creator>
    </div>
  </div>
</div> -->
