<div class="col-md-12">
  <div class="row block-calculator">
    <div class="col-md-1 offset-2 center">
      <button type="button" class="btn btn-primary pull-right align-middle-right" (click)="backCard()" [disabled]="disableBackBtn()">Back</button>
    </div>
    <div class="col-md-6 center">
      <lets-get-started (getStarted)="nextCard()" *ngIf="blockCalculatorPage === 0"></lets-get-started>
        <!-- <user-general-info [user]="userAccount" [updateActive]="true" [fieldSetName]="fieldSets[1]" *ngIf="blockCalculatorPage === 1"
                           (updateUser)="updateUser($event);" [enableCancel]="false"></user-general-info>
        <user-body-info [user]="userAccount" [updateActive]="true" [fieldSetName]="fieldSets[2]" *ngIf="blockCalculatorPage === 2"
                        (updateUser)="updateUser($event);" [enableCancel]="false"></user-body-info>
        <user-lifestyle [user]="userAccount" [updateActive]="true" [fieldSetName]="fieldSets[3]" *ngIf="blockCalculatorPage === 3"
                        (updateUser)="updateUser($event);" [enableCancel]="false"></user-lifestyle>
        <user-block-template [user]="userAccount" [updateActive]="true" [fieldSetName]="fieldSets[4]" *ngIf="blockCalculatorPage === 4"
                             (updateUser)="updateUser($event);" [enableCancel]="false"></user-block-template>
        <block-calculator-results [user]="userAccount"  *ngIf="blockCalculatorPage === 5"></block-calculator-results> -->
      <div class="text-center block-calc-footer">
        <div class="card">
          <div class="card-body">
            <i class="fa fa-circle fa-fw" *ngFor="let fs of fieldSets; let i = index;" [ngClass]="{'fa-sm grey3': i != blockCalculatorPage, 'fa-lg coal': i == blockCalculatorPage}"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1 center">
      <button type="button" class="btn btn-primary pull-left align-middle-left" (click)="nextCard()" [disabled]="disableNextBtn()">Next</button>
    </div>
  </div>
</div>
