<div class="row nutrition-facts-container">
  <div class="col-12 text-center nutrition-facts-heading">
    <label>Nutrition Facts</label>
  </div>
  <!-- <div class="col-12 nutrition-facts-serving">
    Serving {{quantity}} {{measurement | edamamMeasurement:quantity}}
  </div> -->
  <div class="col-12 nutrition-facts-serving">
    <form [formGroup]="measurementForm" class="d-flex flex-row justify-content-between align-items-start">
      <div class="">Serving: </div>
      <div>
        <mat-form-field appearance="outline" class="nutrition-facts-quantity">
          <input matInput type="number" formControlName="quantity" min="0" required>
        </mat-form-field>
        <mat-form-field appearance="outline" class="nutrition-facts-measure">
          <mat-select formControlName="measure" required>
            <mat-option *ngFor="let m of food?.measures" [value]="m?.uri">{{m?.label}}(s)</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="d-flex flex-row grow-1" *ngIf="foodFinderMode">
        <button mat-button color="primary" *ngIf="!calendarViewOpen" (click)="openCreateMeal.emit(true)" matTooltip="Open the calendar to add to meal plan">
          <!-- <mat-icon fontSet="font-awesome-5-solid" fontIcon="calendar"></mat-icon> -->
          <mat-icon>calendar_today</mat-icon>
          <span>Open Calendar</span>
        </button>
        <button mat-button color="primary" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" *ngIf="calendarViewOpen" matTooltip="Add to meal plan">
          <mat-icon>add</mat-icon>
          <span>Create Meal</span>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="createBreakfast()" matTooltip="Add as breakfast item">Breakfast</button>
          <button mat-menu-item (click)="createLunch()" matTooltip="Add as Lunch item">Lunch</button>
          <button mat-menu-item (click)="createDinner()" matTooltip="Add as dinner item">Dinner</button>
          <button mat-menu-item (click)="createSnack()" matTooltip="Add as Snack item">Snack</button>
          <button mat-menu-item (click)="createTeatime()" matTooltip="Add as Teatime item">Teatime</button>
        </mat-menu>
        <help [text]="helpText"></help>
      </div>
    </form>
  <!-- </div>
  <div class="col-2"> -->
  </div>
  <div class="col-12 border-bottom-3 nutrition-facts-calories">
    <label>Calories: {{nutrients?.totalNutrients?.ENERC_KCAL?.quantity | number: '1.0-2'}} kcal<span *ngIf="nutrients?.totalNutrients?.ENERC_KCAL?.quantity > 1">s</span></label>
  </div>
  <div class="col-12 nutrition-facts">
    <div class="list-group list-group-flush">
      <div class="list-group-item">
        <nutrients-item [totalNutrients]="nutrients?.totalNutrients?.FAT" [totalDaily]="nutrients?.totalDaily?.FAT"></nutrients-item>
      </div>
      <div class="list-group-item" *ngIf="nutrients?.totalNutrients?.FASAT || nutrients?.totalNutrients?.FAMS || nutrients?.totalNutrients?.FAPU">
        <div class="list-group">
          <div class="list-group-item" *ngIf="nutrients?.totalNutrients?.FASAT">
            <nutrients-item [totalNutrients]="nutrients?.totalNutrients?.FASAT" [totalDaily]="nutrients?.totalDaily?.FASAT"></nutrients-item>
          </div>
          <div class="list-group-item" *ngIf="nutrients?.totalNutrients?.FATRN">
            <nutrients-item [totalNutrients]="nutrients?.totalNutrients?.FATRN" [totalDaily]="nutrients?.totalDaily?.FATRN"></nutrients-item>
          </div>
          <div class="list-group-item" *ngIf="nutrients?.totalNutrients?.FAMS">
            <nutrients-item [totalNutrients]="nutrients?.totalNutrients?.FAMS" [totalDaily]="nutrients?.totalDaily?.FAMS"></nutrients-item>
          </div>
          <div class="list-group-item" *ngIf="nutrients?.totalNutrients?.FAPU">
            <nutrients-item [totalNutrients]="nutrients?.totalNutrients?.FAPU" [totalDaily]="nutrients?.totalDaily?.FAPU"></nutrients-item>
          </div>
        </div>
      </div>
      <div class="list-group-item" *ngIf="nutrients?.totalNutrients?.CHOLE">
        <nutrients-item [totalNutrients]="nutrients?.totalNutrients?.CHOLE" [totalDaily]="nutrients?.totalDaily?.CHOLE"></nutrients-item>
      </div>
      <div class="list-group-item" *ngIf="nutrients?.totalNutrients?.NA">
        <nutrients-item [totalNutrients]="nutrients?.totalNutrients?.NA" [totalDaily]="nutrients?.totalDaily?.NA"></nutrients-item>
      </div>
      <div class="list-group-item">
        <nutrients-item [totalNutrients]="nutrients?.totalNutrients?.CHOCDF" [totalDaily]="nutrients?.totalDaily?.CHOCDF"></nutrients-item>
      </div>
      <div class="list-group-item" *ngIf="nutrients?.totalNutrients?.FIBTG || nutrients?.totalNutrients?.SUGAR">
        <div class="list-group">
          <div class="list-group-item" *ngIf="nutrients?.totalNutrients?.FIBTG">
            <nutrients-item [totalNutrients]="nutrients?.totalNutrients?.FIBTG" [totalDaily]="nutrients?.totalDaily?.FIBTG"></nutrients-item>
          </div>
          <div class="list-group-item" *ngIf="nutrients?.totalNutrients?.SUGAR">
            <nutrients-item [totalNutrients]="nutrients?.totalNutrients?.SUGAR" [totalDaily]="nutrients?.totalDaily?.SUGAR"></nutrients-item>
          </div>
        </div>
      </div>
      <div class="list-group-item">
        <nutrients-item [totalNutrients]="nutrients?.totalNutrients?.PROCNT" [totalDaily]="nutrients?.totalDaily?.PROCNT"></nutrients-item>
      </div>
      <div class="list-group-item" *ngFor="let nutrient of listOfExtraMinerals">
        <nutrients-item [totalNutrients]="getTotalNutrient(nutrient)" [totalDaily]="getDailyNutrient(nutrient)"></nutrients-item>
      </div>
    </div>
  </div>
  <div class="col-12 text-center">
    *Percent Daily Values are based on a 2000 calorie diet
  </div>
</div>