.nutrition-facts-container {
  border: 1px solid black;
}
.nutrition-facts-heading {
  border-bottom: 10px solid black;
  font-size: 24pt;
  font-weight: bold;
}
.nutrition-facts-serving {
  font-size: 16pt;
}
.nutrition-facts-calories {
  border-bottom: 3px solid black;
  font-size: 24pt;
  font-weight: bold;
}
.nutrition-facts.col-12 {
  padding-left: 0;
}
.list-group-header {
  border: 1px solid rgba(0,0,0,.125);
}
.list-group-item {
  padding-right: 0;
  padding-bottom: .25rem;
  padding-top: .25rem;
}
.quantity-input, .measure-select {
  display: inline-block;
    width: min-content;
}