<form class="form-horizontal needs-validation" role="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-title>
      <h1>Body Mass Index (BMI)</h1>
    </mat-card-title>
    <mat-card-content>
      <div class="form-container">
        
        <!-- Body Weight -->
        <div class="form-section">
          <mat-form-field appearance="standard">
            <mat-label>Body Weight Unit of Measure</mat-label>
            <mat-select [formControl]="bodyWeightMetric" required>
              <mat-option value="pounds">Pounds</mat-option>
              <mat-option value="kilograms">Kilograms</mat-option>
            </mat-select>
            <mat-error *ngIf="bodyWeightMetric.hasError('required')">
              Weight Metric is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="standard">
            <mat-label>Body Weight</mat-label>
            <input matInput type="number" [formControl]="bodyWeight" min="0" required>
            <button mat-button *ngIf="bodyWeight?.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearControl('bodyWeight')">
              <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="bodyWeight.hasError('required')">
              Body Weight is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      
        <!-- Height -->
        <div class="form-section">
          <mat-form-field appearance="standard">
            <mat-label>Height Unit of Measure</mat-label>
            <mat-select [formControl]="heightMetric" required>
              <mat-option value="imperial">Feet/Inches</mat-option>
              <mat-option value="metric">Centimeters</mat-option>
            </mat-select>
            <mat-error *ngIf="heightMetric.hasError('required')">
              Height Metric is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="standard">
            <mat-label>Body Height <span *ngIf="heightMetric.valid">({{displayHeightMetric('bigger')}})</span></mat-label>
            <input matInput type="number" [formControl]="heightBigger" min="0" required>
            <button mat-button *ngIf="height?.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearControl('heightBigger')">
              <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="heightBigger.hasError('required')">
              Body Height is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="standard">
            <mat-label>Body Height <span *ngIf="heightMetric.valid">({{displayHeightMetric('smaller')}})</span></mat-label>
            <input matInput type="number" [formControl]="heightSmaller" min="0" required>
            <button mat-button *ngIf="height?.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearControl('heioghtSmaller')">
              <mat-icon>close</mat-icon>
              <mat-error *ngIf="heightSmaller.hasError('required')">
                Body Height is <strong>required</strong>
              </mat-error>
            </button>
          </mat-form-field>
        </div>

        <!-- Activity Level -->
        <mat-form-field appearance="standard">
          <mat-label>Activity Level</mat-label>
          <mat-select [formControl]="activityLevel" required>
            <mat-option value="no-exercise">Little / No Exercies</mat-option>
            <mat-option value="little-exercise">Little Exercise (1 - 2 Days a Week)</mat-option>
            <mat-option value="moderate-exercise">Moderate Exercise (3 - 5 Days a Week)</mat-option>
            <mat-option value="heavy-exercise">Very Active (6 - 7 Days a Week)</mat-option>
            <mat-option value="extra-exercise">Extra Active (7 Days a Week + Work Activity)</mat-option>
          </mat-select>
          <mat-error *ngIf="heightMetric.hasError('required')">
            Height Metric is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        
        <div class="row">
          <div class="col text-center">BMI Calculation: <span *ngIf="calculateBMI > 0">{{calculateBMI | number:'1.0-2'}} kcal per day</span><span *ngIf="!calculateBMI">More Information Needed From Above</span></div>
          <div class="col text-center">BMR Calculation: <span *ngIf="calculateBMR > 0">{{calculateBMR | number:'1.0-2'}} kcal per day</span><span *ngIf="!calculateBMR">More Information Needed From Above</span></div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <div class="row">
        <div class="col text-center">
          <button mat-button type="button" color="accent" [disabled]="form?.dirty" (click)="reset()">Revert</button>
          <button mat-button type="submit" color="primary" style="margin-left: 15px;" [disabled]="!form.valid">Save</button>
        </div>
      </div>
    </mat-card-footer>
  </mat-card>
</form>
