<form class="form-horizontal needs-validation" role="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-title>
      <h1>General Information</h1>
    </mat-card-title>
    <mat-card-content>
      <div class="form-container">
        <!-- FirstName -->
        <mat-form-field appearance="standard">
          <mat-label>First Name</mat-label>
          <input matInput type="text" [formControl]="firstName" required>
          <button mat-button *ngIf="firstName?.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearControl('firstName')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="firstName.hasError('required')">
            First Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      
        <!-- LastName -->
        <mat-form-field appearance="standard">
          <mat-label>Last Name</mat-label>
          <input matInput type="text" [formControl]="lastName" required>
          <button mat-button *ngIf="lastName?.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearControl('lastName')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="lastName.hasError('required')">
            Last Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <!-- Email -->
        <mat-form-field appearance="standard">
          <mat-label>Email</mat-label>
          <input matInput type="text" [formControl]="email" required>
          <button mat-button *ngIf="email?.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearControl('email')" readonly>
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="email.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <!-- Date of Birth -->
        <mat-form-field appearance="standard">
          <mat-label>Date Of Birth</mat-label>
          <input matInput [formControl]="dob" required [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker" style="display: inline-block;"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <button mat-button *ngIf="dob?.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearControl('dob')" style="display: inline-block;">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="dob.hasError('required')">
            Date of Birth is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <!-- Gender -->
        <mat-form-field appearance="standard">
          <mat-label>Gender</mat-label>
          <mat-select [formControl]="sex" required>
            <mat-option value="male">Male</mat-option>
            <mat-option value="female">Female</mat-option>
          </mat-select>
          <mat-error *ngIf="dob.hasError('required')">
            Gender is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <div class="row">
        <div class="col text-center">
          <button mat-button type="button" color="accent" [disabled]="form?.dirty" (click)="reset()">Revert</button>
          <button mat-button type="submit" color="primary" style="margin-left: 15px;" [disabled]="!form.valid">Save</button>
        </div>
      </div>
    </mat-card-footer>
  </mat-card>
</form>
