<mat-card class="text-center h-100 d-flex justify-content-center">
  <div class="align-self-center container">
    <h1 class="display-4">Welcome to CF Blocks</h1>
    <p class="lead">Please Sign In</p>
    <form class="form" role="form" [formGroup]="login" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label for="username" class="col-sm-2 col-form-label offset-sm-2">Username</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="username" formControlName="username" placeholder="Enter Username"
          [ngClass]="{'is-invalid': !!loginError, 'is-valid': !loginError}">
        </div>
      </div>
      <div class="form-group row">
        <label for="password" class="col-sm-2 col-form-label offset-sm-2">Password</label>
        <div class="col-sm-6">
          <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter Password"
                [ngClass]="{'is-invalid': !!loginError, 'is-valid': !loginError}">
          <div class="invalid-feedback">{{loginError}}</div>
        </div>
      </div>
      <div class="row">
        <div class="offset-2 col-sm-8">
          <button type="button" class="btn btn-link" (click)="goToCreateNewAccount()">Create New Account</button>
          <button type="submit" class="btn btn-primary pull-right">Login</button>
          <span class="form-check pull-right" style="margin-right:15px;padding-top:7px;">
            <input class="form-check-input" type="checkbox" value="true" formControlName="rememberMe" id="remember-me">
            <label class="form-check-label" for="remember-me">
              Remember Me?
            </label>
          </span>
        </div>
      </div>
    </form>
  </div>
</mat-card>
