<div class="container-fluid h-100" style="margin-top: -3px; padding: 0;">
  <mat-drawer-container class="resource-container h-100" autosize style="background: rgba(250,250,250, .9)">
    <mat-drawer #drawer class="resource-sidenav" mode="side" opened>
      <div class="side-nav-bar-container">
        <resource-menu *ngFor="let menu of menus" [menu]="menu" (goTo)="goTo($event)"></resource-menu>
      </div>
    </mat-drawer>

    <div class="sidenav-content">
      <resource-content *ngFor="let menu of menus" [menu]="menu" [level]="initialLevel"></resource-content>
      <div class="markdown-content" markdown ngPreserveWhitespaces>
        
      </div>
    </div>

  </mat-drawer-container>
</div>
