<div *ngIf="menu" class="resource-content">
  <markdown [data]="heading"></markdown>
  <div class="pl-5">
    <markdown *ngFor="let paragraph of menu.paragraphs">{{paragraph}}</markdown>
  </div>
    <resource-content [menu]="sm" *ngFor="let sm of menu?.subMenus" [level]="nextLevel"></resource-content>
</div>
