.load-more-btn {
  opacity: .5;
  border-radius: 15px;
  margin-top: -8vh;
  padding: 1rem 2rem;
}

.load-more-btn:hover {
  opacity: 1;
}
::ng-deep .mat-form-field-wrapper{
  padding-bottom: 0;
}
.mat-standard-chip {    
  /* height: auto !important; */
  font-size: 10px;
  min-height: 20px;
}
.mat-standard-chip.mat-chip-with-trailing-icon {
  padding: 5px;
}
.mat-standard-chip .mat-icon{
  font-size: 10px;
  width: 10px;
  height: 10px;
  margin-left: 4px;
}
.mat-standard-chip.mat-chip-with-trailing-icon {
  margin: 4px 2px;
}
/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}