<div [ngClass]="{'container': !foodInFocus, 'container-fluid': foodInFocus}">
  <div class="row my-3">
    <div class="col-12 mb-3" *ngIf="searchForm">
      <form [formGroup]="searchForm" (submit)="searchFood()" class="w-100">
        <mat-card>
          <mat-card-content>
            <div  class="d-flex flex-row">
              <mat-form-field appearance="outline" class="w-100">
                <input matInput type="text" [formControl]="search" placeholder="Enter Your Food Search Criteria" required>
                <button mat-button matSuffix mat-icon-button aria-label="Search" [disabled]="!search?.value" type="submit" style="display: inline-block;" matTooltip="Initiate your search">
                  <mat-icon>search</mat-icon>
                </button>
                <button mat-button [disabled]="!search?.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearControl('search')" style="display: inline-block;" type="button" matTooltip="Clear the search text">
                  <mat-icon>close</mat-icon>
                </button>
                <button mat-icon-button matSuffix aria-label="Filters" style="display: inline-block;" (click)="toggleFilter()" matTooltip="Additional filters to apply to your search">
                  <mat-icon>filter_alt</mat-icon>
                </button>
              </mat-form-field>
            </div>
            <div *ngIf="!searchFilterOpened" class="mx-1">
              <mat-chip-list aria-label="Active Health Filters">
                <mat-chip color="accent" removable="true" *ngFor="let healthLabel of activeHealthLabels" [value]="healthLabel" (removed)="uncheckFilter(healthLabels,healthLabel)" selected matTooltip="Click to remove">{{getChip(healthLabel, 'healthLabel')}} <mat-icon matChipRemove>cancel</mat-icon></mat-chip>
              </mat-chip-list>
              <mat-chip-list aria-label="Active Diet Filters">
                <mat-chip color="primary" removable="true" *ngFor="let dietLabel of activeDietLabels" [value]="dietLabel" (removed)="uncheckFilter(dietLabels,dietLabel)" selected matTooltip="Click to remove">{{getChip(dietLabel, 'dietLabel')}} <mat-icon matChipRemove>cancel</mat-icon></mat-chip>
              </mat-chip-list>
            </div>

            <mat-expansion-panel #searchFiltersExpansionPanel>
              <mat-accordion multi='true' togglePosition="before" displayMode="flat">
                <!-- <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Caution Labels
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="row mx-3" formGroupName="cautionLabels">
                    <div class="col-sm-12 col-md-6 col-lg-3" *ngFor="let cautionLabel of cautionLabelResults">
                      <mat-checkbox *ngIf="cautionLabels.get(cautionLabel)" [formControlName]="cautionLabel" labelPosition="after" [value]="cautionLabel"> {{cautionLabel}} </mat-checkbox>
                    </div>
                  </div>
                </mat-expansion-panel> -->
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Health Labels
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="row mx-3" formGroupName="healthLabels">
                    <div class="col-sm-12 col-md-6 col-lg-3" *ngFor="let healthLabel of healthLabelResults">
                      <mat-checkbox *ngIf="healthLabels.get(getLabel(healthLabel))" [formControlName]="getLabel(healthLabel)" labelPosition="after" [value]="getLabel(healthLabel)"> {{healthLabel.label ? healthLabel.label : healthLabel['web-label']}} </mat-checkbox>
                    </div>
                  </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Diet Labels
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="row mx-3" formGroupName="dietLabels">
                    <div class="col-sm-12 col-md-6 col-lg-3" *ngFor="let dietLabel of dietLabelResults">
                      <mat-checkbox *ngIf="dietLabels.get(getLabel(dietLabel))" [formControlName]="getLabel(dietLabel)" labelPosition="after" [value]="getLabel(dietLabel)"> {{dietLabel.label ? dietLabel.label : dietLabel['web-label']}} </mat-checkbox>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </mat-expansion-panel>

            <p *ngIf="!searchLoading && searchResult?.hints?.length < 1 && !searchResult?.parsed" class="text-center m-5">Lets start searching for food. Enter the name of the food and begin your journey to great food planning!</p>
          </mat-card-content>
        </mat-card>
      </form>
    </div>
  <div class="row">
    <div class="col-sm-12 col-lg-4" *ngIf="foodInFocus">
      <food-nutrients 
        [food]='foodInFocus' 
        [nutrients]='nutrientsInFocus' 
        [quantity]='nutrientsQuantityInFocus' 
        [measurement]='nutrientsMeasurementInFocus' 
        [calendarViewOpen]="addToMealPlanner" 
        (updateNutritionInfo)="updateNutritionInfo($event)" 
        (openCreateMealModal)="openCreateMealModal($event)" 
        (addMeal)="createMeal($event)"
      ></food-nutrients>
    </div>
    <div class="col-sm-12" [ngClass]="{'col-lg-8': foodInFocus}" *ngIf="!addToMealPlanner">
      <div class="row" *ngIf="!searchLoading && searchResult?.hints?.length > 0">
        <!-- <div class="col"> -->
          <!-- <div class="d-flex flex-wrap justify-content-around"> -->
            <food-result class="col-sm-12 col-md-6 col-lg-3"  *ngFor="let food of searchResult?.hints" [food]="food" [selectedFood]="foodInFocus" (getNutrients)="getNutrients($event)" (createMeal)="openCreateMealModal($event)"></food-result>
          <!-- </div> -->
        <!-- </div> -->
      </div>
    </div>
    <div class="col-sm-12" *ngIf="!searchLoading && searchResult?.hints?.length === 0">
      No Food Found
    </div>
    <div class="col-sm-12" *ngIf="searchLoading">
      Loading ....
    </div>
    <div class="col-sm-12 col-lg-8" *ngIf="addToMealPlanner">
      <create-meal-modal [food]='foodInFocus' [nutrients]='nutrientsInFocus' [quantity]='nutrientsQuantityInFocus' [measurement]='nutrientsMeasurementInFocus' (createMeal)="createMeal($event)" (goBack)="stopMealCreation()"></create-meal-modal>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <button type="button" class="btn btn-lg btn-primary load-more-btn" (click)="getMoreFoods()" *ngIf="!searchLoading && searchResult?.hints?.length > 0 && searchResult._links?.next?.href" matTooltip="Click to Load more results">See More</button>
    </div>
  </div>
</div>