<!-- <form class="form-horizontal needs-validation" role="form" [formGroup]="form">
  <div class="card mb-1">
    <div class="card-body pt-0 pb-0">
      <div class="row">
        <div class="col">
          <h3>{{food?.food?.name}}</h3>
        </div>
        <div class="col-1">
          <button type="button" class="btn btn-sm btn-close pull-right">
            <i class="fa fa-fw fa-lg fa-times red" *ngIf="!food?.food?.image"></i>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <div class="form-group">
            <div class="input-group input-group-sm">
              <input type="number" placeholder="Customized Serving Amount" class="form-control form-control-sm" formControlName="food"
                     [ngClass]="{'is-invalid': this.isFieldInvalid(), 'is-valid': this.isFieldValid()}" required (change)="updateMealFood()">
              <div class="input-group-append">
                <span class="input-group-text">{{food?.food?.serving?.metric}}</span>
              </div>
            </div>
            <div class="invalid-feedback">Must Be Greator Than Zero!</div>
          </div>
        </div>
        <div class="col food-statistics">
          <div class="row">
            <div class="col">
              {{(getCarbs(food) | number:'1.0-2') + 'c'}}
            </div>
            <div class="col">
              {{(getFats(food) | number:'1.0-2') + 'f'}}
            </div>
            <div class="col">
              {{(getProtein(food) | number:'1.0-2') + 'p'}}
            </div>
            <div class="col">
              {{(getCalories(food) | number:'1.0-2') + 'kcal'}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form> -->
